{% extends 'base.html' %}About | Ilahia Law College{% block content %}
  <!-- page title -->
  <section class="page-title-section overlay" data-background="static/images/backgrounds/page-title.jpg">
    <div class="container">
      <div class="row">
        <div class="col-md-8">
          <ul class="list-inline custom-breadcrumb">
            <li class="list-inline-item">
              <a class="h2 text-primary font-secondary" href="@@page-link">About Us</a>
            </li>
            <li class="list-inline-item text-white h3 font-secondary @@nasted"></li>
          </ul>
          <p class="text-lighten">
            Home <i class="fa-solid fa-angles-right"></i> About Us
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- /page title -->

  <!-- about -->
  <section class="section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-title">
            Welcome to
            <br />ILAHIA LAW COLLEGE
            <br />– Shaping Tomorrow’s Legal Leaders
          </h2>
          <p>Founded in 2024, Ilahia Law College is an innovative institution committed to providing high-quality legal education that prepares students for the complexities of the modern legal world. With a focus on academic excellence, ethical practice, and social responsibility, we aim to nurture the next generation of legal professionals who will contribute to justice, fairness, and societal progress.</p>
          <p>Though a young institution, Ilahia Law College is driven by a bold vision to offer a transformative education that combines academic rigor with practical experience. Our expert faculty, state-of-the-art facilities, and commitment to excellence ensure that our students are well-equipped to excel in the ever-evolving field of law.</p>
          <img class="img-fluid w-100 mb-4" src="static/images/about/about-page.jpg" alt="about image" />
        </div>
      </div>
    </div>
  </section>
  <!-- /about -->

  <!-- funfacts -->
  <section class="section-sm bg-primary">
    <div class="container">
      <div class="row">
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="60">0</h2>
            <h5 class="text-white">TEACHERS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="50">0</h2>
            <h5 class="text-white">COURSES</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="1000">0</h2>
            <h5 class="text-white">STUDENTS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="3737">0</h2>
            <h5 class="text-white">SATISFIED CLIENT</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /funfacts -->


{% endblock %}
