{% extends 'base.html' %}Home | Ilahia Law College{% block content %}
  <!-- hero slider -->
  <section class="hero-section overlay bg-cover" data-background="https://images.pexels.com/photos/267885/pexels-photo-267885.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="container">
      <div class="hero-slider">
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Ilahia Law College Excellence</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Quality legal education fostering justice, ethics, and professional success.</p>
              <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Ilahia Law College Excellence</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Quality legal education fostering justice, ethics, and professional success.</p>
              <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
        <!-- slider item -->
        <div class="hero-slider-item">
          <div class="row">
            <div class="col-md-8">
              <h1 class="text-white" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".1">Ilahia Law College Excellence</h1>
              <p class="text-muted mb-4" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".4">Quality legal education fostering justice, ethics, and professional success.</p>
              <a href="contact.html" class="btn btn-primary" data-animation-out="fadeOutRight" data-delay-out="5" data-duration-in=".3" data-animation-in="fadeInLeft" data-delay-in=".7">Apply now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /hero slider -->

  <!-- banner-feature -->
  <section class="bg-gray">
    <div class="container-fluid p-0">
      <div class="row no-gutters">
        <div class="col-xl-4 col-lg-5 align-self-end">
          <img class="img-fluid w-100" src="https://images.pexels.com/photos/6077123/pexels-photo-6077123.jpeg?auto=compress&cs=tinysrgb&w=600" alt="banner-feature" />
        </div>
        <div class="col-xl-8 col-lg-7">
          <div class="row feature-blocks bg-white justify-content-between">
            <h2 class="section-title text-center">Why Choose Law College ?</h2>
            <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
              <img src="static/images/open-book.gif" class="feature-icon img-fluid" />
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Modern Curriculum</h3>
              <p>A forward-thinking curriculum that integrates traditional legal education with emerging trends in law, technology, and international legal practices.</p>
            </div>
            <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
              <img src="static/images/graduation.gif" class="feature-icon img-fluid" />
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Experienced Faculty</h3>
              <p>Learn from a team of passionate, experienced faculty members who are dedicated to your academic and professional success.</p>
            </div>
            <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
              <img src="static/images/open-enrollment.gif" class="feature-icon img-fluid" />
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Practical Learning</h3>
              <p>Hands-on learning experiences such as moot court competitions, legal internships, and community outreach initiatives that prepare students for real-world legal challenges.</p>
            </div>
            <div class="col-sm-6 col-xl-5 mb-xl-5 mb-lg-3 mb-4 text-center text-sm-left">
              <img src="static/images/trophy.gif" class="feature-icon img-fluid" />
              <h3 class="mb-xl-4 mb-lg-3 mb-4">Global Perspective</h3>
              <p>Engage in international exposure through collaborations, exchange programs, and conferences that equip you to thrive in the global legal landscape.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /banner-feature -->

  <!-- about us -->
  <section class="section">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-6 order-2 order-md-1">
          <h2 class="section-title">
            Welcome to
            <br />Ilahia Law College – Shaping Tomorrow’s Legal Leaders
          </h2>
          <p>Founded in 2024, Ilahia Law College is an innovative institution committed to providing high-quality legal education that prepares students for the complexities of the modern legal world. With a focus on academic excellence, ethical practice, and social responsibility, we aim to nurture the next generation of legal professionals who will contribute to justice, fairness, and societal progress.</p>
          <p>Though a young institution, Ilahia Law College is driven by a bold vision to offer a transformative education that combines academic rigor with practical experience. Our expert faculty, state-of-the-art facilities, and commitment to excellence ensure that our students are well-equipped to excel in the ever-evolving field of law.</p>
          <a href="about.html" class="btn btn-primary-outline">Know more</a>
        </div>
        <div class="col-md-6 order-1 order-md-2 mb-4 mb-md-0">
          <img class="img-fluid w-100" src="https://media.istockphoto.com/id/474306176/photo/yale-university-graduation-ceremonies.jpg?s=612x612&w=0&k=20&c=W9yb72ka-iApvw-TO7QAmdPfS58KjLpyLFJwf_7Dr4o=" alt="about image" />
        </div>
      </div>
    </div>
  </section>
  <!-- /about us -->

  <!-- funfacts -->
  <section class="section-sm bg-primary">
    <div class="container">
      <div class="row">
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="60">0</h2>
            <h5 class="text-white">TEACHERS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="50">0</h2>
            <h5 class="text-white">COURSES</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="1000">0</h2>
            <h5 class="text-white">STUDENTS</h5>
          </div>
        </div>
        <!-- funfacts item -->
        <div class="col-md-3 col-sm-6 mb-4 mb-md-0">
          <div class="text-center">
            <h2 class="count text-white" data-count="3737">0</h2>
            <h5 class="text-white">SATISFIED CLIENT</h5>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /funfacts -->

  <!-- courses -->
  <section class="section-sm">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Courses</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="courses.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">See more. . .</a>
            </div>
          </div>
        </div>
      </div>
      <!-- course list -->
      <div class="row justify-content-center">
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/8112199/pexels-photo-8112199.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">Constitutional Law</h4></a>
              <p class="card-text mb-4">Explore the foundation of the legal system in the country and the structure of government.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/8730785/pexels-photo-8730785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">Criminal Law</h4></a>
              <p class="card-text mb-4">Study the legal procedures related to crimes and the penalties for criminal offenses.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/6077476/pexels-photo-6077476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">Corporate Law</h4></a>
              <p class="card-text mb-4">Learn the principles governing business law, including contracts, mergers, and intellectual property.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">International Law</h4></a>
              <p class="card-text mb-4">Study the relationships between countries, including treaties, diplomacy, and international conflicts.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">Family Law</h4></a>
              <p class="card-text mb-4">Learn the legal framework governing family relationships, including marriage, divorce, and custody.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
        <!-- course item -->
        <div class="col-lg-4 col-sm-6 mb-5">
          <div class="card p-0 border-primary rounded-0 hover-shadow h-100">
            <img class="card-img-top rounded-0" src="https://images.pexels.com/photos/8112201/pexels-photo-8112201.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" alt="course thumb" />
            <div class="card-body">
              <ul class="list-inline mb-2">
                <li class="list-inline-item">
                  <i class="ti-calendar mr-1 text-color"></i>01-05-2025
                </li>
                <li class="list-inline-item">
                  <a class="text-color" href="#">Law</a>
                </li>
              </ul>
              <a href="course-single.html"><h4 class="card-title">Environmental Law</h4></a>
              <p class="card-text mb-4">Study the laws related to environmental protection, sustainability, and regulations.</p>
              <a href="course-single.html" class="btn btn-primary btn-sm">Apply now</a>
            </div>
          </div>
        </div>
      </div>
      <!-- /course list -->
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="courses.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">See all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /courses -->

  <!-- success story -->
  <section class="section bg-cover" data-background="https://images.pexels.com/photos/5668473/pexels-photo-5668473.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-sm-4 position-relative success-video">
          <a class="play-btn venobox" href="https://youtu.be/nA1Aqp0sPQo" data-vbtype="video"><i class="ti-control-play"></i></a>
        </div>
        <div class="col-lg-6 col-sm-8">
          <div class="bg-white p-5">
            <h2 class="section-title">Success Stories of Our Law Graduates</h2>
            <p>Our law graduates have gone on to achieve remarkable success in the legal field, making significant contributions to justice and society. From top law firms to prestigious courtrooms, their accomplishments inspire future legal professionals.</p>
            <p>Join our esteemed law program and be part of a legacy of excellence. With world-class training and real-world experience, you too can make your mark in the legal world.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /success story -->

  <!-- events -->
  <section class="section bg-gray">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="d-flex align-items-center section-title justify-content-between">
            <h2 class="mb-0 text-nowrap mr-3">Upcoming Events</h2>
            <div class="border-top w-100 border-primary d-none d-sm-block"></div>
            <div>
              <a href="events.html" class="btn btn-sm btn-primary-outline ml-sm-3 d-none d-sm-block">see all</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <!-- event -->
        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top rounded-0" src="static/images/events/event-1.jpg" alt="event thumb" />
              <div class="card-date">
                <span>18</span><br />December
              </div>
            </div>
            <div class="card-body">
              <!-- location -->
              <p>
                <i class="ti-location-pin text-primary mr-2"></i>Harvard, Usa
              </p>
              <a href="event-single.html"><h4 class="card-title">Toward a public philosophy of justice</h4></a>
            </div>
          </div>
        </div>
        <!-- event -->
        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top rounded-0" src="static/images/events/event-2.jpg" alt="event thumb" />
              <div class="card-date">
                <span>21</span><br />December
              </div>
            </div>
            <div class="card-body">
              <!-- location -->
              <p>
                <i class="ti-location-pin text-primary mr-2"></i>Cambridge, USA
              </p>
              <a href="event-single.html"><h4 class="card-title">Research seminar in clinical science.</h4></a>
            </div>
          </div>
        </div>
        <!-- event -->
        <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
          <div class="card border-0 rounded-0 hover-shadow">
            <div class="card-img position-relative">
              <img class="card-img-top rounded-0" src="static/images/events/event-3.jpg" alt="event thumb" />
              <div class="card-date">
                <span>23</span><br />December
              </div>
            </div>
            <div class="card-body">
              <!-- location -->
              <p>
                <i class="ti-location-pin text-primary mr-2"></i>Dhanmondi Lake, Dhaka
              </p>
              <a href="event-single.html"><h4 class="card-title">Firefly training in trauma-informed yoga</h4></a>
            </div>
          </div>
        </div>
      </div>
      <!-- mobile see all button -->
      <div class="row">
        <div class="col-12 text-center">
          <a href="course.html" class="btn btn-sm btn-primary-outline d-sm-none d-inline-block">sell all</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /events -->

  <!-- cta -->
  <section class="section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <h6 class="text-white font-secondary mb-0">Click to Join the Upcoming Law Workshop</h6>
          <h2 class="section-title text-white">Training in Advanced Legal Practices</h2>
          <a href="contact.html" class="btn btn-secondary">Join Now</a>
        </div>
      </div>
    </div>
  </section>
  <!-- /cta -->

  <!-- Gallery -->
  <section class="py-5">
    <div class="container">
      <h2 class="section-title text-left mb-5">Legal Insights Gallery</h2>
      <div class="row">
        <div class="col-lg-4 col-md-12 mb-4">
          <img src="https://images.pexels.com/photos/6077326/pexels-photo-6077326.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Boat on Calm Water" />
          <img src="https://images.pexels.com/photos/8112195/pexels-photo-8112195.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Wintry Mountain Landscape" />
        </div>

        <div class="col-lg-4 mb-4">
          <img src="https://images.pexels.com/photos/6077476/pexels-photo-6077476.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Mountains in the Clouds" />
          <img src="https://images.pexels.com/photos/8730785/pexels-photo-8730785.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Boat on Calm Water" />
        </div>

        <div class="col-lg-4 mb-4">
          <img src="https://images.pexels.com/photos/7876050/pexels-photo-7876050.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Waves at Sea" />
          <img src="https://images.pexels.com/photos/6077189/pexels-photo-6077189.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1" class="w-100 shadow-1-strong mb-4" alt="Yosemite National Park" />
        </div>
      </div>
    </div>
  </section>
  <!-- /Gallery -->
{% endblock %}
